---
import "../styles/global.css";
import { Activity, Briefcase, Cake, MapPin, User } from "@lucide/astro";

// const response = await fetch("https://api.thesenior.dev/me");
// const data = await response.json();
const data = { name: "Michael", age: "early twenties" };
const name = data.name;
const age = data.age;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Michael Krebs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Personal Website of the in Germany living, passionate developer Michael"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/favicon.svg" />
  </head>
  <body>
    <div>
      <h1>
        Hello
        <span style="font-size:50px;">&#128075;</span>
      </h1>
      <p>Some things about me:</p>
      <ul>
        <li><User />{name}</li>
        <li><Cake />{age}</li>
        <li><MapPin />Germany (Bavaria)</li>
        <li><Briefcase />DevOps Engineer</li>
        <li>
          <Activity />servers, software, volleyball, travel (nature)
        </li>
      </ul>
      <p class="ref-gh">
        Visit
        <span> <a href="https://github.com/m-krebs">my GitHub</a> </span>
        and check out what I am working on.
      </p>
    </div>
  </body>
</html>
